<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jepapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/jeplogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Admin.ItemSalesReport"
            android:parentActivityName=".Activities.Admin.ReportsPageforViewPager"
            tools:ignore="InnerclassSeparator"></activity>
        <activity android:name=".Activities.Admin.ItemSalesReportNew"
            android:parentActivityName=".Activities.Admin.ReportsPageforViewPager"
            tools:ignore="InnerclassSeparator"></activity>
        <activity
            android:name=".Activities.Admin.ItemAmtReport"
            android:parentActivityName=".Activities.Admin.ReportsPageforViewPager"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.Signup"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activities.Login"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".Activities.Users.CustomerViewPager" />

        <activity
            android:name=".Activities.HR.HrViewPager"
            android:theme="@style/Theme.MaterialComponents.NoActionBar.Bridge" />
        <activity
            android:name=".Activities.Admin.OrdersViewPager"
            android:theme="@style/Theme.MaterialComponents.NoActionBar.Bridge"></activity>
        <activity
            android:name=".Activities.Users.BreakfastList"
            android:parentActivityName=".Activities.Users.CustomerViewPager"
            android:theme="@style/Theme.AppCompat" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Activities.Users.LunchList"
            android:parentActivityName=".Activities.Users.CustomerViewPager"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".Activities.Admin.CreatingItem" />
        <activity android:name=".Fragments.Admin.Reports"/>
        <activity android:name=".Activities.Admin.EditItemActivity" />
        <activity android:name=".Activities.Admin.SelectMenuItems" />
        <activity android:name=".Activities.MainMenuHolder" />
        <activity
            android:name=".Activities.Admin.MenuCreationViewPager"
            android:theme="@style/ReportsTheme" />
        <activity
            android:name=".Activities.Admin.ReportsPageforViewPager"
            android:theme="@style/ReportsTheme" />


        <activity
            android:name=".Activities.Users.weekly_expenditure"
            android:parentActivityName=".Activities.Users.CustomerViewPager" />
        <activity android:name=".Activities.Users.pie_weekly_expenditure"
            android:parentActivityName=".Activities.Users.CustomerViewPager"/>

        <activity android:name=".Activities.Users.Cart"
            android:parentActivityName=".Activities.Users.CustomerViewPager"></activity>
        <activity android:name=".Activities.Admin.AdminCart"
            android:parentActivityName=".Activities.Admin.OrdersViewPager"></activity>
        <activity android:name=".Activities.Admin.AllMenuItemsList"></activity>
        <activity android:name=".Activities.Admin.MenuItemsListForAdmin"></activity>
        <activity android:name=".Activities.Admin.PerformanceReviewReport"></activity>
        <activity android:name=".Activities.Admin.PerformancePieReport"
            android:parentActivityName=".Activities.Admin.PerformanceReviewReport"></activity>
        <activity android:name=".Activities.Admin.SingleItemsReportActivity"></activity>
        <activity android:name=".Activities.Admin.SingleItemsReport"
            android:parentActivityName=".Activities.Admin.SingleItemsReportActivity"></activity>
        <activity android:name=".Activities.Admin.ItemSalesWeeklyReport"
            android:parentActivityName=".Activities.Admin.ReportsPageforViewPager"></activity>
        <activity android:name=".Activities.Admin.ItemSalesWeeklyReport2"
            android:parentActivityName=".Activities.Admin.ReportsPageforViewPager"></activity>
        <activity android:name=".Activities.Admin.ItemSalesWeeklyReportNew"
            android:parentActivityName=".Activities.Admin.ReportsPageforViewPager"></activity>
        <activity android:name=".Activities.Admin.SelectMenuItems2"
        <activity android:name=".Activities.Admin.CreateMenu"
            android:theme="@style/ReportsTheme"
            android:parentActivityName=".Activities.Admin.MenuCreationViewPager"></activity>

        <activity android:name=".Activities.Admin.AdminMenuCart"
            android:parentActivityName=".Activities.Admin.CreateMenu"
            android:theme="@style/AppTheme"
            ></activity>

    </application>

</manifest>
