<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jepapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/jeplogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.SpecialRequests"></activity>
        <activity android:name=".LunchMenu" />
        <activity android:name=".Activities.OrderPageActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".BreakfastList">
        </activity>
        <activity android:name=".Activities.Signup"
        android:theme="@style/Theme.AppCompat"
        android:parentActivityName=".Login">

        </activity>
        <activity android:name=".Login">

        </activity>
        <activity android:name=".Activities.PageforViewPager">


        </activity>
        <activity android:name=".Activities.AdminPageforViewPager">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".BreakfastList"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName=".Activities.PageforViewPager">
        </activity>
        <activity android:name=".LunchList"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName=".Activities.PageforViewPager">
        </activity>
        <activity android:name=".Activities.LoginActivity"></activity>
        <activity android:name=".Activities.CreatingItem" />


    </application>

</manifest>
